<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- JavaScript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script>
        function showHideElement(selectSrc, targetElementId, triggerValue) {	
            selectValue = $('input[name='+selectSrc+']:checked').val();
            console.log(selectValue);
            if(selectValue===triggerValue) {
                document.getElementById(targetElementId[0]).style.display = "block";
                document.getElementById(targetElementId[1]).style.display = "block";
                document.getElementById(targetElementId[2]).style.display = "none";
                document.getElementById(targetElementId[3]).style.display = "none";
                document.getElementById(targetElementId[4]).style.display = "none";
                document.getElementById(targetElementId[5]).style.display = "none";
                
                // document.getElementById(targetElementId[2]).value = '0';
                // document.getElementById(targetElementId[3]).value = '0';
                // document.getElementById(targetElementId[4]).value = '0';
                // document.getElementById(targetElementId[5]).value = '0';

                document.getElementById(targetElementId[6]).required = true;
                document.getElementById(targetElementId[7]).required = false;
                document.getElementById(targetElementId[8]).required = false;
            } else {
                document.getElementById(targetElementId[0]).style.display = "none";
                document.getElementById(targetElementId[1]).style.display = "none";
                document.getElementById(targetElementId[2]).style.display = "block";
                document.getElementById(targetElementId[3]).style.display = "block";
                document.getElementById(targetElementId[4]).style.display = "block";
                document.getElementById(targetElementId[5]).style.display = "block";

                // document.getElementById(targetElementId[0]).value = '0';
                // document.getElementById(targetElementId[1]).value = '0';

                document.getElementById(targetElementId[6]).required = false;
                document.getElementById(targetElementId[7]).required = true;
                document.getElementById(targetElementId[8]).required = true;
            }
        } </script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

    <style>
        div#surface-summary {
        height: 350px;
        overflow: auto;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.1);
      }

      div#surface-progress {
        height: 500px;
        overflow: auto;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.1);
      }

      div#surface-result {
        height: 500px;
        overflow: auto;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.1);
      }

      body {
          background-color: #1ABC9C;
      }

      img {
          border-radius: 5px;
          transition: transform .2s; /* Animation */
      }

      img:hover {
  transform: scale(1.05); 
        }

    .card {
        background-color: #F8FFA6;
          transition: transform .45s; /* Animation */
      }

      .card:hover {
  transform: scale(1.015); 
        }
    </style>
    <%- style %>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Prediksi Potensi Stroke</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controller="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/">Halaman Utama</a>
                </li>
                <!-- <li class="nav-item mx-2">
                    <a class="nav-link" href="/train">Pelatihan</a>
                </li> -->
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/detect">Deteksi Potensi Anda</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/help">Bantuan</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/about">Tentang</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-md mt-3">
        <%- body %>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
        <script>
            AOS.init();
        </script>
    <%- script %>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold">Deteksi Potensi Stroke</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>