<%- contentFor('title') %>
    Tentang

    <%- contentFor('body') %>
        <section class="vh-1">
            <div class="container">
                <div class="flex-lg-row d-lg-flex justify-content-center align-items-center">
                    <div class="col-xl-8">
                        <div class="card" style="border-radius: 5px; height: 600px;">
                            <div class="card-body mx-1">
                                <h1 class="mb-4">Tentang Aplikasi</h1>
                                <h6 class="mb-0">Deteksi Potensi Stroke</h6>

                                <hr class="mx-n3">

                                <div class="row align-items-center pt-1 pb-2">
                                    <div class="ps-5">
                                        <p class="mb-0">Aplikasi "Deteksi potensi Stroke" merupakan aplikasi yang dibuat untuk memberikan prediksi mengenai potensi terjadinya serangan stroke kepada penggguna.
                                            Deteksi yang diberikan akan dilakukan berdasarkan data rekam kesehatan pengguna. </p>

                                            <br>
                                        <p class="mb-0">Aplikasi ini dibuat sejalan dengan penulisan skripsi penulis yang merupakan salah satu dari syarat kelulusan studi S1 penulis di Universitas Tarumanagara.
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7">
                        <div class="card" style="border-radius: 5px; height: 600px;">
                            <div class="card-body mx-1">
                                <h1 class="mb-4">Tentang Penulis</h1>
                                <h6 class="mb-0">Penulis Aplikasi</h6>

                                <hr class="mx-n3">

                                <div class="row align-items-center pt-1 pb-2">
                                    <div class="ps-5">
                                        <p class="mb-0">Nama          : Yansky</p>
                                        <p class="mb-0">NPM           : 535180080</p>
                                        <p class="mb-0">Program Studi : Teknik Informatika</p>
                                        <p class="mb-0">Fakultas      : Teknologi Informasi</p>
                                        <p class="mb-0">Judul Skripsi : Deteksi Potensi Serangan Stroke dengan Menggunakan Metode Backpropagation Neural Network</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>