<%- contentFor('title') %>
    Tentang

    <%- contentFor('body') %>
        <section class="vh-1">
            <div class="container">
                <div class="flex-lg-row d-lg-flex justify-content-center align-items-center">
                    <div class="col-xl-8">
                        <div class="card" style="border-radius: 5px; height: 600px;">
                            <div class="card-body mx-1">
                                <h1 class="mb-4">Tentang Aplikasi</h1>
                                <h6 class="mb-0">Deteksi Potensi Stroke</h6>

                                <hr class="mx-n3">

                                <div class="row align-items-center pt-1 pb-2">
                                    <div class="ps-5">
                                        <p class="mb-0">Program Aplikasi "Deteksi potensi Stroke" merupakan program aplikasi yang dibuat untuk memberikan prediksi mengenai potensi terjadinya serangan stroke kepada penggguna.
                                            Deteksi yang diberikan akan dilakukan berdasarkan data rekam kesehatan pengguna. </p>
                                        
                                            
                                        <br>
                                        <p class="mb-0">Sistem deteksi potensi stroke yang digunakan pada program ini menggunakan metode <i>Backpropagation Artificial Neural Network</i>(Jaringan saraf tiruan dengan propagasi mundur) yang dilatih terhadap dataset stroke dengan pendekatan <i>Supervised Learning</i>(Pembelajaran terawasi) berdasarkan data kesehatan pengguna.
                                        </p>
                                        
                                        <br>
                                        <p class="mb-0">Program Aplikasi ini dibuat sejalan dengan penulisan skripsi penulis yang merupakan salah satu dari syarat
                                            kelulusan studi S1 penulis di Universitas Tarumanagara.
                                        </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7">
                        <div class="card" style="border-radius: 5px; height: 600px;">
                            <div class="card-body mx-1">
                                <h1 class="mb-4">Tentang Penulis</h1>
                                <h6 class="mb-0">Penulis Aplikasi</h6>

                                <hr class="mx-n3">

                                <div class="align-items-center pt-1 pb-2">
                                    <div class="ps-5">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width:40%;"><p class="mb-0">Nama</p></td>
                                                <td><p class="mb-0">: Yansky</p></td>
                                            </tr>
                                            <tr>
                                                <td><p class="mb-0">NPM</p></td>
                                                <td><p class="mb-0">: 535180080</p></td>
                                            </tr>
                                            <tr>
                                                <td><p class="mb-0">Program Studi</p></td>
                                                <td><p class="mb-0">: Teknik Informatika</p></td>
                                            </tr>
                                            <tr>
                                                <td><p class="mb-0">Fakultas</p></td>
                                                <td><p class="mb-0">: Teknologi Informasi</p></td>
                                            </tr>
                                            <tr>
                                                <td><p class="mb-0">Judul Skripsi</p></td>
                                                <td><p class="mb-0">: Deteksi Potensi Serangan Stroke Berdasarkan &nbsp; Data Kesehatan dengan Menggunakan Backpropagation Neural Network</p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>