<%- contentFor('title') %>
    Bantuan

    <%- contentFor('body') %>
        <section class="vh-1">
            <div class="container h-100">
                <div class="flex-lg-row d-lg-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-12">
                        <div class="card mb-3" style="border-radius: 5px;"  data-aos="zoom-in" data-aos-duration="1250">
                            <div class="card-body">
                                <h1 class="mb-4" data-aos="fade-in" data-aos-duration="1250">Bantuan</h1>

                                <hr class="mx-n3">

                                <div class="row align-items-center pt-1 pb-2" data-aos="fade-up" data-aos-duration="1250">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P1</b> : Apakah hasil deteksi stroke dari program ini 100% akurat?</p>
                                        <p class="mb-0"><b>J1</b>&ensp;: Hasil yang dihasilkan dari program ini merupakan <b>prediksi potensi</b> sehingga masih terdapat peluang kesalahan.
                                            <br>&emsp;&ensp;&nbsp;Ada baiknya bila hasil dari program ini digunakan sebagai acuan untuk mempertimbangkan kondisi kesehatan anda.
                                            </p>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-1 pb-2" data-aos="fade-up" data-aos-duration="1250">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P2</b> : Mengapa muncul pemberitahuan untuk memasukkan angka yang sesuai saat memasukkan usia?</p>
                                        <p class="mb-0"><b>J2</b>&ensp;: Hal tersebut terjadi karena angka yang diinput untuk usia anda berada di luar batasan program ini.
                                            <br>&emsp;&ensp;&nbsp; Harap masukkan angka bilangan bulat antara 1-100 untuk usia anda.</p>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-1 pb-2" data-aos="fade-up" data-aos-duration="1250">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P3</b> : Mengapa muncul pemberitahuan untuk memasukkan angka yang sesuai saat memasukkan tingkat glukosa dalam darah?</p>
                                        <p class="mb-0"><b>J3</b>&ensp;: Hal tersebut terjadi karena angka yang diinput untuk tingkat glukosa anda berada di luar batasan program ini.
                                            <br>&emsp;&ensp;&nbsp; Harap masukkan angka antara 1-2565 untuk tingkat glukosa dalam darah anda.</p>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-1 pb-2" data-aos="fade-up" data-aos-duration="1250">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P4</b> : Apabila saya belum pernah menghitung indeks masa tubuh, apakah saya bisa menggunakan program ini?</p>
                                        <p class="mb-0"><b>J4</b>&ensp;: Tentu anda dapat menggunakan program ini. Silakan pilih <b>"Belum pernah"</b> pada kolom indeks masa tubuh.
                                            <br>&emsp;&ensp;&nbsp;&ensp;Setelah itu anda dapat memasukkan berat dan tinggi badan anda. Program akan menghitung indeks masa tubuh anda<br>&emsp;&ensp;&ensp; berdasarkan berat dan tinggi badan anda.</p>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-1 pb-2" data-aos="fade-up" data-aos-duration="1250">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P5</b> : Mengapa muncul pemberitahuan untuk memasukkan angka yang sesuai saat memasukkan indeks masa tubuh?</p>
                                        <p class="mb-0"><b>J5</b>&ensp;: Hal tersebut terjadi karena angka yang diinput untuk indeks masa tubuh anda berada di luar batasan program ini.
                                            <br>&emsp;&ensp;&nbsp; Harap masukkan angka antara 1-250 untuk indeks masa tubuh anda.</p>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-1 pb-2" data-aos="fade-up" data-aos-duration="1250">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P6</b> : Mengapa muncul pemberitahuan untuk memasukkan angka yang sesuai saat memasukkan berat badan?</p>
                                        <p class="mb-0"><b>J6</b>&ensp;: Hal tersebut terjadi karena angka yang diinput untuk berat badan anda berada di luar batasan program ini.
                                            <br>&emsp;&ensp;&nbsp; Harap masukkan angka antara 1-635 untuk berat badan anda.</p>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-1 pb-2" data-aos="fade-up" data-aos-duration="1250">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P7</b> : Mengapa muncul pemberitahuan untuk memasukkan angka yang sesuai saat memasukkan tinggi badan?</p>
                                        <p class="mb-0"><b>J7</b>&ensp;: Hal tersebut terjadi karena angka yang diinput untuk tinggi anda berada di luar batasan program ini.
                                            <br>&emsp;&ensp;&nbsp; Harap masukkan angka antara 1-280 untuk tinggi badan anda.</p>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-1 pb-2" data-aos="fade-up" data-aos-duration="1250">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P8</b> : Mengapa saya diminta untuk memasukkan nama saya? Apakah program ini akan menyimpan nama saya?</p>
                                        <p class="mb-0"><b>J8</b>&ensp;: Program ini tidak menyimpan data apapun dari pengguna. 
                                            <br>&emsp;&ensp;&nbsp; Nama yang dimasukkan bersifat tidak wajib dan hanya akan digunakan untuk menampilkan nama anda pada hasil program ini.
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>