<%- contentFor('title') %>
    Bantuan

    <%- contentFor('body') %>
        <section class="vh-1">
            <div class="container h-100">
                <div class="flex-lg-row d-lg-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-12">
                        <div class="card" style="border-radius: 5px;">
                            <div class="card-body">
                                <h1 class="mb-4">Bantuan</h1>

                                <hr class="mx-n3">

                                <div class="row align-items-center pt-1 pb-2">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P1</b> : Apakah siapa mengapa dan bagaimana?</p>
                                        <p class="mb-0"><b>J1</b> : Itu dia karena begitulah.</p>
                                    </div>
                                </div>

                                <br class="mx-n3">

                                <div class="row align-items-center pt-1 pb-2">
                                    <div class="col-xl-12 ps-5">
                                        <p class="mb-0"><b>P2</b> : Apakah siapa mengapa dan bagaimana?</p>
                                        <p class="mb-0"><b>J2</b> : Itu dia karena begitulah.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>