<%- contentFor('title') %>
    Bantuan

    <%- contentFor('body') %>
        <section class="vh-1">
            <div class="container h-100">
                <div class="flex-lg-row d-lg-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-12">
                        <div class="card" style="border-radius: 5px;">
                            <div class="card-body" style="height: 1000px;">
                                <h1 class="mb-4">Deteksi Potensi Stroke</h1>

                                <h6>Mengapa Stroke?</h6>
                                <p>Stroke merupakan penyakit tidak menular pembunuh No. 3 di dunia setelah kanker dan penyakit jantung koroner.
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>