<%- contentFor('title') %>
    Bantuan

    <%- contentFor('body') %>
        <section class="vh-1">
            <div class="container h-100">
                <div class="flex-lg-row d-lg-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-12">
                        <div class="card" style="border-radius: 5px;">
                            <div class="card-body" style="height: auto;">
                                <h1 class="mb-4">Deteksi Potensi Stroke</h1>
                                <div class="row">
                                <div class="col-md-5">
                                    <h6>Mengapa Stroke?</h6>
                                    <p>Stroke merupakan penyakit tidak menular pembunuh No. 3 di dunia setelah kanker dan penyakit jantung koroner.
                                    <h6>Fakta Stroke</h6>
                                        <ul>
                                        <li>Lebih dari 13 juta orang terserang stroke setiap tahunnya, dan sekitar 5,5 juta orang meninggal dunia akibat
                                            stroke.<sup>1</sup></li>
                                        <li>Stroke telah merambah ke cakupan epidemik. Di dunia secara global, 1 dari 4 orang dewasa pada usia 25 tahun keatas akan
                                            mengalami serangan stroke.<sup>2</sup></li>
                                        <li>Sebagian besar penyebab stroke berhubungan erat dengan pola hidup yang tidak sehat.<sup>3</sup></li>
                                    </ul>
                                </div>
                                <div class="col-md-5">
                                    <img src="/images/ischemic.jpg" width="500px">
                                </div>
                            </div>

                <h6>Mengenal Jenis Stroke</h6>
                <p>Stroke terdiri dari 2 jenis, yaitu stroke iskemik dan hemoragik.
                <ul>
                    <li>Stroke iskemik merupakan terjadinya serangan stroke akibat adanya penyumbatan maupun gangguan aliran darah dalam pembuluh darah pada otak.</li>
                    <li>Stroke hemoragik merupakan terjadinya serangan stroke akibat terjadinya pecah pembuluh darah dalam pembuluh darah pada otak.</li>
                    <br>
                    <div class="row">
                        <figure class="col-md-5">
                            <img src="/images/ischemic.jpg" alt="Stroke iskemik" width="400px">
                            <figcaption>Ilustrasi kondisi stroke iskemik</figcaption>
                        </figure>
                        <figure class="col-md-5">
                            <img src="/images/hemoragic.jpg" alt="Stroke iskemik" width="400px">
                            <figcaption>Ilustrasi kondisi stroke Hemoragik</figcaption>
                        </figure>
                    </div>
                    
                </ul>

                <br>
                <h6>Referensi</h6>
                <ol>
                <li>Centers for Disease Control and Prevention. <a href="https://wonder.cdc.gov/ucd-icd10.html"
                        target="_BLANK">Underlying Cause of Death, 1999–2018</a>. CDC WONDER Online Database. Atlanta, GA: Centers
                    for Disease Control and Prevention; 2018. Accessed March 12, 2020.</li>
                <li>Virani SS, Alonso A, Benjamin EJ, Bittencourt MS, Callaway CW, Carson AP, et al. <a
                        href="https://www.ahajournals.org/doi/10.1161/CIR.0000000000000757" target="_BLANK">Heart disease and stroke
                        statistics—2020 update: a report from the American Heart Association</a> external icon. Circulation.
                    2020;141(9):e139–e596.</li>
                <li><a href="https://www.world-stroke.org/world-stroke-day-campaign/why-stroke-matters/learn-about-stroke" target="_BLANK">"Learn More About Stroke"</a>
                </li>
                </ol>
                </p>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>